<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">
            <br/>
            <br/>
            <h1>{{message}}</h1>
            
            <h3>Medicos</h3>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col" *ngFor="let coluna of colunas">
                        {{coluna}}
                      </th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let medico of medicos">
                        <td>{{medico.nome}}</td>
                        <td>{{medico.crm}}</td>
                        <td>{{medico.especialidade}}</td>
                      </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /container -->